<div layout="column" layout-padding>
    <fc-list-add-button ng-show="fcListsList.isLoggedIn"></fc-list-add-button>

    <div ng-hide="fcListsList.isLoggedIn">
        <i>Log in to create a fcList!</i>
    </div>

    <div flex>
        <h2 class="md-display-1">Party Name:</h2>
    </div>

    <div flex layout="row" layout-padding>
        <md-input-container>
            <label>Search</label>
            <input ng-model="fcListsList.searchText">
        </md-input-container>

        <fc-lists-sort on-change="fcListsList.sortChanged(sort)" property="name" order="1"></fc-lists-sort>
    </div>

    <div layout="column" layout-gt-sm="row">
        <div flex="50">
            <md-card dir-paginate="fcList in fcListsList.fcLists | itemsPerPage: fcListsList.perPage"
                     total-items="fcListsList.fcListsCount">
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline" ui-sref="fcListsList({ listId: fcList._id})">
                {{fcList.name}}
            </span>
                        <md-icon class="show-detail-button" ui-sref="fcListDetails({ fcListId: fcList._id })"
                                 md-svg-icon="content:ic_add_24px"></md-icon>
                        <fc-list-remove list="fcList"></fc-list-remove>
                        <span class="md-subhead">{{fcList.description}}</span>
                        <a ui-sref="trainer({ listId: fcList._id })">
                            {{fcList.name}}
                        </a>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <fc-list-rsvps-list rsvps="fcList.rsvps"></fc-list-rsvps-list>

                    <fc-list-unanswered list="fcList" ng-if="!fcList.public"></fc-list-unanswered>
                    <div ng-if="fcList.public">
                        Everyone is invited
                    </div>

                    <fc-list-creator list="fcList"></fc-list-creator>
                </md-card-content>
                <md-card-actions>
                    <fc-list-rsvp list="fcList" ng-show="fcListsList.isLoggedIn"></fc-list-rsvp>
                    <div ng-hide="fcListsList.isLoggedIn">
                        <i>Sign in to RSVP for this fcList.</i>
                    </div>
                </md-card-actions>
            </md-card>
            <dir-pagination-controls on-page-change="fcListsList.pageChanged(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>