<navigation></navigation>
<div  ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" >

    <div flex-gt-sm="30" flex="">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Normal</span>
            </div>
        </md-toolbar>

        <md-content>
            <lists></lists>
        </md-content>
    </div>

    <md-divider></md-divider>

    <div flex-gt-sm="70" flex="">

        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Dense</span>
            </div>
        </md-toolbar>

        <md-content>

            <party></party>
        </md-content>
    </div>

</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->