<md-content layout-padding>
    <form name="projectForm">
        <md-input-container class="md-block">
            <label>
                List Name:
            </label>
            <input type="text" ng-model="flashCardAdd.list.question" />
        </md-input-container>
        <md-input-container class="md-block">
            <label>
                Description:
            </label>
            <input type="text" ng-model="flashCardAdd.list.answer" />

            <button ng-click="flashCardAdd.submit()">Flash Card!</button>
        </md-input-container>
    </form>
</md-content>