<div layout="column" layout-padding>
    <md-input-container>
        <label>
            Party Name:
        </label>
        <input type="text" ng-model="fcListAdd.fcList.name"/>
    </md-input-container>
    <md-input-container>
        <label>
            Description:
        </label>
        <input type="text" ng-model="fcListAdd.fcList.description"/>
    </md-input-container>
    <div flex>
        <md-checkbox ng-model="fcListAdd.fcList.public" aria-label="Public Party?">
            Public Party?
        </md-checkbox>
    </div>
    <div flex>
        <md-button ng-click="fcListAdd.submit()" class="md-raised">Add Party!</md-button>
    </div>
</div>